// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homepage {
  margin-top: 20px;
}

.homepage-content {
  margin-top: 50px;
}

.col-sm-2 {
  text-align: center;
  border-right: 1px solid black;
}

.col-sm-5 {
  text-align: center;
  border-right: 1px solid black;
}
