// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homepage {
  margin-top: 20px;
}

.homepage-content {
  margin-top: 50px;
}

.col-sm-2 {
  text-align: center;
  border-right: 1px solid black;
}

.col-sm-5 {
  text-align: center;
  border-right: 1px solid black;
}


.col-sm-6 {
  padding: 50px;
}


.movie-details p {
  margin-bottom: 2px;
}

.description {
  margin-top: 20px;
}

.critic-reviews {
  margin-top: 50px;
}

.navbar-toggleable-md .navbar-collapse {
  width: 10%;
}

.search-box {
  width: 400px;
}

.spud_score {
  color: black;
  text-shadow: 1px 1px red;
  letter-spacing: 2px;
}
